<main>
  
  <h1>ElasticSearch-Vue Search View</h1>
  
  <div id="time_controls">
    <datetime name="From" date="2017-06-01" time="00:00"></datetime>
    <interval scale="3" units="h"></interval>
    <datetime name="To"></datetime>
  </div>
  
  <div id="url_controls">
    <url-list></url-list>
  </div>
  
  <div id="process_controls">
    <search-button></search-button>
  </div>
  
  <div id="chart">
    <chart name="Histogram"></chart>
  </div>
  
</main>
